[submodule "test/framework/unity"]
	path = test/framework/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/framework/fff"]
	path = test/framework/fff
	url = https://github.com/meekrosoft/fff.git
